[submodule "ocs.internal"]
	path = ocs.internal
	url = git@github.com:cyberblast/screeps.ocs.internal.git
[submodule "ocs.public"]
	path = ocs.public
	url = git@github.com:ScreepsOCS/screeps.behaviour-action-pattern.git
[submodule "lib/ScreepsAutocomplete"]
	path = lib/ScreepsAutocomplete
	url = git@github.com:Garethp/ScreepsAutocomplete.git
